.toolbarButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  border: none;
  background-color: transparent;
  cursor: pointer;

  border-radius: 0.5rem;

  transition: all 0.3s ease;
  &:hover {
    background: var(--gray-e0e0e0);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  & > svg {
    color: var(--gray-3f3f3f)
  }

}

.selected {
  background-color: var(--gray-d9d9d9);
}
